@import "../core/_setting.scss";

@import "_header.scss";
@import "_footer.scss";

.l-fluid-image {
  max-width: 100%;
  width: 100%;
  height: auto;
  line-height: 0;
}

.l-box-center {
  display: table;
  width: 100%;
  height: 100%;
}
  .l-box-center__inner {
    vertical-align: middle;
    display: table-cell;
    width: 100%;
  }
    .l-box-center__body {
      display: inline-block;
      width: 100%;
    }